fastapi==0.115.6
uvicorn==0.34.0

pymongo==4.10.1
python-multipart==0.0.20
python-dotenv==1.0.1

pydantic==2.10.5
email-validator==2.2.0
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.2.1

numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.14.1
joblib==1.4.2

transformers==4.48.3
huggingface_hub==0.27.1
safetensors==0.5.2
tokenizers==0.21.0
sentencepiece==0.2.0

opencv-python-headless==4.10.0.84
pillow==11.1.0
wfdb==4.1.2